/*Reset CSS*/
*{margin: 0; padding: 0; box-sizing: border-box;}
.header-principal{
    margin: auto;
    padding: 20px;
    background-color: rgb(0, 60, 255);
    width: 80%;
    height: 100%;
    font-size: 1.3em;
    text-align: center;
    color: rgb(231, 211, 27);
}

.btn:focus, .btn::-moz-focus-inner{
    outline:none;
    border:none;
}

.btn{
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
}

.btn-green{
    background-color: green;
    color: #fff;
    box-shadow: 0 5px 0 #006000;
}

.btn-green:hover{
    background:#006000;
    box-shadow:0 5px 0 #003f00;
}

.btn-purple{
    background:purple;
    color:#fff;
    box-shadow:0 5px 0 #670167;
  }
  .btn-purple:hover{
    background:#670167;
    box-shadow:0 5px 0 #470047;
  }
  .btn-red{
    background:red;
    color:#fff;
    box-shadow:0 5px 0 #d20000;
  }
  .btn-red:hover{
    background:#d20000;
    box-shadow:0 5px 0 #b00000;
  }

  .btn-green:active, .btn-purple:active, .btn-red:active{
    position: relative;
    top: 5px;
}


